$homepage-bg-img: url("../images/table-of-food.jpg");
$location-form-width: 30vw;

$font-futura: "Futura", Helvetica, sans-serif;
$font-avenir: Avenir, Helvetica, sans-serif;
$font-droid-sans: "Droid Sans", Helvetica,sans-serif;

$color-navbar: #ffd839;
$color-bg: #FFE439;
$color-main-content: #FFEA64;
$color-warning: #ee374b;

$color-default-font: #333333;
$color-dark-gray: #333333;
$color-light-gray: #444444;
$color-near-white: #efefef;

#app {
	padding: 0 auto;
	font: 1em $font-futura;
	color: $color-default-font;
	background-color: $color-bg;
	min-height: 100vh;
}

.navbar {
	margin: 0;
	border: 0;
	background-color: $color-navbar;
	height: 5vh;
}

.navbar-inverse .navbar-brand {
	color: $color-dark-gray;
}

.navbar-inverse .navbar-brand:hover {
	color: $color-light-gray;
}

.navbar-inverse .navbar-nav>li>a {
	color: $color-dark-gray;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: $color-light-gray;
}

.navbar-toggle {
	padding-top: 1.5em;
	padding-right: 1em;
}

.navbar-collapse.collapse, .navbar-collapse.collapsing {
	background-color: $color-navbar;
}

.navbar-toggle .collapsed:hover {
	color: transparent;
}

.navbar-header>.navbar-toggle:focus, .navbar-header>.navbar-toggle:hover {
	background-color: transparent;
}

.navbar-toggle {
	border: 0;
	margin: 0;
}

.collapsing ul li a, .in ul li a {
	color: $color-near-white;
}

.centerComponent {
	display: block;
	text-align: center;
}

h1, h2, h3 {
	padding: 0;
	margin-top: 0
}

form {
	padding: 0.5em;
}

.react-autosuggest__container {
	position: relative;
}

.react-autosuggest__input {
	width: 240px;
	height: 30px;
	padding: 10px 20px;
	font-family: $font-avenir;
	font-weight: 300;
	font-size: 16px;
	border: 1px solid #aaa;
	border-radius: 4px;
}

.react-autosuggest__input:focus {
	outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
	display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
	display: block;
	margin: 0 auto;
	width: 240px;
	border: 1px solid #aaa;
	background-color: #fff;
	font-family: $font-avenir;
	font-weight: 300;
	font-size: 16px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	z-index: 2;
}

.react-autosuggest__suggestions-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.react-autosuggest__suggestion {
	cursor: pointer;
	padding: 10px 20px;
}

.react-autosuggest__suggestion--focused {
	background-color: #ddd;
}

.footer {
	margin: 9px 20px;
	font-size: 12px;
	color: #777;
}

#appHomepage {
	background: $homepage-bg-img no-repeat center;
	height: 90vh;
}

#homepage {
	padding-top: 35vh;
}

#appMain {
	min-height: 300px;
	margin-top: 10vh;
	text-align: center;
}

#locationForm {
	min-width: $location-form-width;
}

.quickfixOptions {
	padding-top: 15vh;
}

.choice {
	padding-top: 20vh;
}

#numDays {
	text-align: center;
}

#searchResults {
	max-height: 100%;
	text-align: left;
	font-size: 0.8em;
	font-family: $font-droid-sans;
	overflow: auto;
}

.searchResultUnit {
	padding-bottom: 1em;
}

.contentBox {
	font-size: 1.3em;
	min-height: 150px;
	width: 80vw;
	background-color: $color-main-content;
	padding: 1em 0;
	display: block;
	margin: auto;
}

#eatingPlanTable {
	overflow: auto;
	max-height: 100%;
	background-color: $color-main-content;
}

footer {
	text-align: center;
	a {
		color: $color-default-font;
		text-decoration: none;
	}
}